<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=500, user-scalable=no">
        <meta name="description" content="Das beste Trinkspiel">

        <title>Nur ein Bisschen</title>

        <link rel="manifest" href="manifest.json">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="application-name" content="Nur ein Bisschen">
        <meta name="apple-mobile-web-app-title" content="Nur ein Bisschen">
        <meta name="theme-color" content="#510c6d">
        <meta name="msapplication-navbutton-color" content="#510c6d">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-starturl" content="/">

        <link rel="icon" type="image/png" sizes="192x192" href="icon192.png">
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="icon192.png">
        <link rel="icon" type="image/png" sizes="512x512" href="icon512.png">
        <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="icon512.png">

        <script>
            if ("serviceWorker" in navigator)
                navigator.serviceWorker.register("sw2.js")
        </script>

        <script src="fuwu-pl.min.js"></script>
        <script src="fuwu.min.js"></script>
        <!--script src="lang.js"></script-->
        <script src="index.js"></script>
        <link href="index.css?v=3" rel="stylesheet">
    </head>
    <body>
        <video autoplay muted loop id="back-video">
            <source src="back.mp4" type="video/mp4">
        </video>
        <img id="hand-img" src="hand.png">
        <div id="fixed-wrapper">
            <f-pl data="data">
                <div id="content" f:centered="contentShouldCenter()">
                    <f-if check="data.isMainMenu">
                        <f-if check="!data.isSelectingPlayers">
                            <h1>Nur ein Bisschen</h1>
                            <button evt:click="pickPlayers()">Starten</button>
    
                            <f-for from="options" as="option">
                                <div class="checkbox" f:disabled="option.isDisabled()" f:checked="eval(option.name)" f:evt:click="`if (!option.isDisabled()) ${option.name} = !${option.name}`">{{option.text}}</div>
                            </f-for>

                            <button evt:click="openSettings()">Einstellungen</button>
                        </f-if>
                        <f-else>
                            <h1>Spieler</h1>
                            <f-if check="data.players.length < 3">
                                <f-if check="data.players.length == 0">
                                    <i>Noch keine Spieler</i>
                                </f-if>
                                <f-else>
                                    <i>Min. 3 Spieler</i>
                                </f-else>
                                
                            </f-if>
                            <ul>
                                <f-for from="data.players" as="player" index="i">
                                    <li class="player-name">
                                        {{player}} <span class="remove-player" evt:click="removePlayer(i)">❌</span>
                                    </li>
                                </f-for>
                            </ul>
                            
                            <button evt:click="addPlayer()">Spieler hinzufügen</button>
                            <f-if check="data.players.length >= 3">
                                <button evt:click="startGame()">Los gehts!</button>
                            </f-if>
                            <button evt:click="data.isSelectingPlayers = false">Zurück</button>
                        </f-else>
                    </f-if>
                    <f-else>
                        <f-if check="data.isIntroducingCard">
                            <f-if check="data.isEndingRule">
                                <h1>
                                    Regel zu Ende
                                </h1>
                                <span class="card-text">
                                    Die Regel "{{data.endedRule.title}}" <f-if check="data.endedRule.player != null">für {{data.endedRule.player}}</f-if> ist zu ende
                                    <br>
                                    <br>
                                    <i>{{data.endedRule.text}}</i>
                                </span>
                            </f-if>
                            <f-else>
                                <h1>
                                    {{data.cardIntro}}
                                </h1>
                            </f-else>
                        </f-if>
                        <f-else>
                            <h1>
                                {{data.cardTitle}}
                            </h1>
                            <span class="card-text">
                                {{data.cardText}}
                            </span>
                        </f-else>
                        <button evt:click="nextCard()">Weiter</button>
                    </f-else>
    
                    <div style="margin-bottom: 55px; min-width: 1px; min-height: 1px;"></div>
    
                    <f-if check="data.enteringPlayer">
                        <div class="player-modal">
                            <form evt:submit="submitPlayer()" action="javascript:void(0);">
                                <input id="player-name-input" type="text" maxlength="32" evt:f-add="this.focus()">
                            </form>
                            
                            <button evt:click="submitPlayer()">Okay</button>
                            <button evt:click="data.enteringPlayer = false">Abbrechen</button>
                        </div>
                    </f-if>
                </div>
            </f-pl>
            
            <f-pl data="data, burger">
                <f-if check="!data.isMainMenu || burger.open">
                    <div id="burger-backdrop" f:open="burger.open" evt:click="burgerClose()"></div>
                    <div id="burger-menu" f:open="burger.open" f:evt:click="burger.open ? '(_=>_)()' : 'burgerClick()'">
                        <div style="margin-bottom: 20px; min-width: 1px; min-height: 1px;"></div>
                        <f-if check="burger.menu == 'main'">
                            <button evt:click="endGameMenu()">Spiel beenden</button>
                            <div class="divider"></div>
                            <button evt:click="playerMenu()">Spieler</button>
                            <div class="divider"></div>
                            <button  evt:click="rulesMenu()">Aktive Regeln</button>
                        </f-if>
                        <f-if check="burger.menu == 'end'">
                            <p>Sicher, dass du das Spiel beenden willst?</p>
                            <button evt:click="mainMenu()">Nein</button>
                            <button evt:click="endGame()">Ja, beenden</button>
                        </f-if>
                        <f-if check="burger.menu == 'player'">
                            <button evt:click="mainMenu()">Zurück</button>
                            <div class="divider"></div>
                            <p>Spieler:</p>
                            <i>Min. 3 Spieler</i>
                            <ul>
                                <f-for from="data.players" as="player" index="i">
                                    <li class="player-name">
                                        {{player}} [{{data.playerNamedMap[player]}}x]<f-if check="data.players.length > 3"><span class="remove-player" evt:click="removePlayer(i)">❌</span></f-if>
                                    </li>
                                </f-for>
                            </ul>
                            <button evt:click="addPlayer()">Spieler hinzufügen</button>
                        </f-if>
                        <f-if check="burger.menu == 'rules'">
                            <button evt:click="mainMenu()">Zurück</button>
                            <div class="divider"></div>
                            <p>Aktive Regeln:</p>
                            <f-for from="data.activeRules" as="rule">
                                <div class="divider"></div>
                                <p>"{{rule.title}}" <f-if check="rule.player != null">für {{rule.player}}</f-if></p>
                                <p><i>{{rule.text}}</i></p>
                            </f-for>
                            <f-if check="data.activeRules.length == 0">
                                <p><i>Zurzeit keine Regeln</i></p>
                            </f-if>
                        </f-if>
                        <f-if check="burger.menu == 'settings'">
                            <button evt:click="burgerClose()">Schließen</button>
                            <p>Einstellungen:</p>
                            <div class="divider"></div>
                            <p>
                                Farbe:
                                <br>
                                <input type="color" id="color-picker" f:value="data.appearanceColor" evt:input="data.appearanceColor = this.value">
                                <br>
                            </p>
                            <button evt:click="resetColor()">Zurücksetzen</button>
                            
                        </f-if>
                        
                    </div>
                </f-if>
            </f-pl>
        </div>
    </body>
</html>